.red.hover {
  fill: #d43549;
  stroke-width: 2.1;
  stroke-miterlimit: 10;
  stroke: #211d1e;
}
.yellow.hover {
  fill: #fbd26b;
  stroke-width: 2.1;
  stroke-miterlimit: 10;
  stroke: #211d1e;
}

.green.hover {
  fill: #0f9d90;
}

.btp1 {
  fill: #f3cd6c;
  stroke: #211d1e;
  stroke-width: 5.3;
  stroke-miterlimit: 10;
}
.btp1.hover {
  fill: #1da159;
  stroke: #211d1e;
  stroke-width: 5.3;
  stroke-miterlimit: 10;
}
.btt1.hover {
  fill: #efead4;
}

.btp2 {
  fill: #1da159;
  stroke: #211d1e;
  stroke-width: 5.3;
  stroke-miterlimit: 10;
}

.btp2.hover {
  fill: #f3cd6c;
  stroke: #211d1e;
  stroke-width: 5.3;
  stroke-miterlimit: 10;
}

.doc {
  fill: #eb6159;
}
.doc.hover {
  fill: #211d1e;
}
.docBody.hover {
  fill: #daead0;
  stroke-width: 2.1;
  stroke-miterlimit: 10;
  stroke: #211d1e;
}
.import {
  fill: #eb6159;
  stroke-width: 2.1;
  stroke-miterlimit: 10;
  stroke: #211d1e;
}
.import.hover {
  fill: #211d1e;
}
.import.hover {
  fill: #daead0;
  stroke-width: 2.1;
  stroke-miterlimit: 10;
  stroke: #211d1e;
}

.arrow3 {
  fill: #eb6159;
}
.arrow3.hover {
  fill: #008e74;
}
.arrow2 {
  fill: #008e74;
}
.arrow2.hover {
  fill: #f3cd6c;
}
.arrow1 {
  fill: #f3cd6c;
}
.arrow1.hover {
  fill: #008e74;
}

@media (min-width: 320px) {
  #mainSvg {
    transform: scaleX(1) scaleY(1.9);
  }
  #mt01 {
    x: 30px;
    y: 1840px;
    width: 950px;
    height: 900px;
  }
  #mt02 {
    x: 450px;
    y: 3335px;
    width: 950px;
    height: 850px;
  }
  #mt03 {
    x: 0px;
    y: 4545px;
    width: 1100px;
    height: 975px;
  }
  #mt04 {
    x: 0px;
    y: 5350px;
    width: 1100px;
    height: 850px;
  }
  #mt05 {
    x: 440px;
    y: 6585px;
    width: 1000px;
    height: 955px;
  }
  #mt06 {
    x: 440px;
    y: 7585px;
    width: 1000px;
    height: 915px;
  }
  #mt07 {
    x: 0px;
    y: 8845px;
    width: 1100px;
    height: 1310px;
  }
  #mt08 {
    x: 655;
    y: 10480px;
    width: 785px;
    height: 1555px;
  }
  #img01 {
    x: 280px;
    y: 1035px;
    width: 480px;
    height: 360px;
  }
  #img02 {
    x: 910px;
    y: 2825px;
    width: 480;
    height: 300px;
  }
  #img03 {
    x: 0px;
    y: 3805px;
    width: 410px;
    height: 300px;
  }
  #img04 {
    x: 1140px;
    y: 5010px;
    width: 300px;
    height: 300px;
  }
  #img05 {
    x: 0px;
    y: 6150px;
    width: 440px;
    height: 330px;
  }
  #img06 {
    x: 0px;
    y: 7050px;
    width: 400px;
    height: 350px;
  }
  #img07 {
    x: 0px;
    y: 8162px;
    width: 400px;
    height: 300px;
  }
  #img08 {
    x: 1125px;
    y: 8920px;
    width: 310px;
    height: 300px;
  }
  #img09 {
    x: 5px;
    y: 10200px;
    width: 480px;
    height: 320px;
  }
}

@media (min-width: 768px) {
  svg {
    width: 100%;
    height: 100%;
  }
  #mainSvg {
    transform: scaleX(1) scaleY(1);
  }
  #mt01 {
    x: 165px;
    y: 995px;
    width: 800px;
    height: 480px;
  }
  #mt02 {
    x: 565px;
    y: 1695px;
    width: 600px;
    height: 480px;
  }
  #mt03 {
    x: 75;
    y: 2377px;
    width: 980px;
    height: 420px;
  }
  #mt04 {
    x: 155px;
    y: 2805px;
    width: 830px;
    height: 470px;
  }
  #mt05 {
    x: 510px;
    y: 3420px;
    width: 900px;
    height: 546px;
  }
  #mt06 {
    x: 408px;
    y: 3970px;
    width: 1000px;
    height: 510px;
  }
  #mt07 {
    x: 30px;
    y: 4650px;
    width: 1000px;
    height: 700px;
  }
  #mt08 {
    x: 660px;
    y: 5525px;
    width: 770px;
    height: 850px;
  }

  #img01 {
    x: 355px;
    y: 475px;
    width: 400px;
    height: 330px;
  }
  #img02 {
    x: 990px;
    y: 1375px;
    width: 438px;
    height: 300px;
  }
  #img03 {
    x: 15px;
    y: 1855px;
    width: 500px;
    height: 300px;
  }
  #img04 {
    x: 1050px;
    y: 3000px;
    width: 355px;
    height: 300px;
  }
  #img05 {
    x: 9px;
    y: 3421px;
    width: 450px;
    height: 330px;
  }
  #img06 {
    x: 9px;
    y: 3590px;
    width: 450px;
    height: 350px;
  }
  #img07 {
    x: 0px;
    y: 4162px;
    width: 380px;
    height: 300px;
  }
  #img08 {
    x: 1065px;
    y: 4740px;
    width: 360px;
    height: 300px;
  }
  #img09 {
    x: 5px;
    y: 5300px;
    width: 480px;
    height: 320px;
  }
}

@media (min-width: 1024px) {
  svg {
    width: 100%;
    height: 100%;
  }
}
